section
  .flex.flex--center
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tellus ut magna rutrum finibus. Vestibulum efficitur dui nec imperdiet tempus. Sed blandit justo at sapien condimentum, vitae porttitor justo pharetra. Vivamus pellentesque rhoncus erat, vitae pretium lectus dignissim vel. Donec tincidunt rhoncus lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra gravida interdum. Ut molestie in erat ac ultrices.
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tellus ut magna rutrum finibus. Vestibulum efficitur dui nec imperdiet tempus. Sed blandit justo at sapien condimentum, vitae porttitor justo pharetra. Vivamus pellentesque rhoncus erat, vitae pretium lectus dignissim vel. Donec tincidunt rhoncus lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra gravida interdum. Ut molestie in erat ac ultrices.
    
section
  .flex.flex--space-around
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tellus ut magna rutrum finibus. Vestibulum efficitur dui nec imperdiet tempus. Sed blandit justo at sapien condimentum, vitae porttitor justo pharetra. Vivamus pellentesque rhoncus erat, vitae pretium lectus dignissim vel. Donec tincidunt rhoncus lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra gravida interdum. Ut molestie in erat ac ultrices.
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tellus ut magna rutrum finibus. Vestibulum efficitur dui nec imperdiet tempus. Sed blandit justo at sapien condimentum, vitae porttitor justo pharetra. Vivamus pellentesque rhoncus erat, vitae pretium lectus dignissim vel. Donec tincidunt rhoncus lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra gravida interdum. Ut molestie in erat ac ultrices.
    
section
  .flex.flex--center
    .col-2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tellus ut magna rutrum finibus. Vestibulum efficitur dui nec imperdiet tempus. Sed blandit justo at sapien condimentum, vitae porttitor justo pharetra. Vivamus pellentesque rhoncus erat, vitae pretium lectus dignissim vel. Donec tincidunt rhoncus lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra gravida interdum. Ut molestie in erat ac ultrices.


section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tellus ut magna rutrum finibus. Vestibulum efficitur dui nec imperdiet tempus. Sed blandit justo at sapien condimentum, vitae porttitor justo pharetra. Vivamus pellentesque rhoncus erat, vitae pretium lectus dignissim vel. Donec tincidunt rhoncus lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra gravida interdum. Ut molestie in erat ac ultrices.
    .col-50
      p CTA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tellus ut magna rutrum finibus. Vestibulum efficitur dui nec imperdiet tempus. Sed blandit justo at sapien condimentum, vitae porttitor justo pharetra. Vivamus pellentesque rhoncus erat, vitae pretium lectus dignissim vel. Donec tincidunt rhoncus lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pharetra gravida interdum. Ut molestie in erat ac ultrices.
    
    
    
