section.vine#vine
  .flex.flex--space-around
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/89sacBIEq4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    .col-1
      p.home-lead.outdented ...Offering creative lifestyle tips on Vine...
      a(href="").home-cta Checkout Vine
