mixin design-img(link, img)
  a(href="#{link}").design-img-link
    img(src="assets/img/design-img/#{img}")
      
section.design#design
  .flex.flex--center
    .col-50.flex.flex--center.dribble(data-orig-color="#ea4c89")
      .col-1
        p.home-lead ...Updating Dribble...
        a(href="" data-color="orange").design-img-link
          img(src="assets/img/design-img/drib-1.jpg")
        a(href="" data-color="#aeb3b0").design-img-link
          img(src="assets/img/design-img/drib-2.jpg")
        a(href="" data-color="#38decc").design-img-link
          img(src="assets/img/design-img/drib-3.png")
        a(href="" data-color="#d21d16").design-img-link
          img(src="assets/img/design-img/drib-4.jpg")
        a(href="" data-color="#890cee").design-img-link
          img(src="assets/img/design-img/drib-5.jpg")
        a(href="" data-color="#d6d599").design-img-link
          img(src="assets/img/design-img/drib-6.jpg")
        .cf
        a(href="https://dribbble.com/travisneilson").home-cta See more on Dribble
          
    .col-50.flex.flex--center.behance(data-orig-color="#1769ff")
      .col-1
        p.home-lead ...and Behance...
        a(href="" data-color="#5aabd5").design-img-link
          img(src="assets/img/design-img/be-1.png")
        a(href="" data-color="#d32022").design-img-link
          img(src="assets/img/design-img/be-2.jpg")
        a(href="" data-color="#4c4c4c").design-img-link
          img(src="assets/img/design-img/be-3.jpg")
        a(href="" data-color="#f59e82").design-img-link
          img(src="assets/img/design-img/be-4.jpg")
        a(href="" data-color="#d57628").design-img-link
          img(src="assets/img/design-img/be-5.jpg")
        a(href="" data-color="#f6c599").design-img-link
          img(src="assets/img/design-img/be-6.png")
        .cf
        a(href="https://www.behance.net/travisneilson").home-cta See more on Behance
