section.mentoring#mentoring
  .flex.flex--center
    .col-1
      ul.faces
        li.face(style="background-image: url(/assets/img/testimonial-avatars/andrew.jpg);")
          .bubble
            p Travis talked me through the necessary steps I needed to take to land a Designer/Front End Developer role with a digital agency. We discussed what I needed to have in my portfolio, as well as what I needed to be doing on a daily basis to make my dream a reality.
            cite - Nathan Jacobs
        li.face(style="background-image: url(/assets/img/testimonial-avatars/gareth.jpg);")
          .bubble
            p Travis talked me through the necessary steps I needed to take to land a Designer/Front End Developer role with a digital agency. We discussed what I needed to have in my portfolio, as well as what I needed to be doing on a daily basis to make my dream a reality.
            cite - Nathan Jacobs
        li.face(style="background-image: url(/assets/img/testimonial-avatars/joey.jpg);")
          .bubble
            p Travis talked me through the necessary steps I needed to take to land a Designer/Front End Developer role with a digital agency. We discussed what I needed to have in my portfolio, as well as what I needed to be doing on a daily basis to make my dream a reality.
            cite - Nathan Jacobs
        li.face(style="background-image: url(/assets/img/testimonial-avatars/kim.jpg);")
          .bubble
            p Travis talked me through the necessary steps I needed to take to land a Designer/Front End Developer role with a digital agency. We discussed what I needed to have in my portfolio, as well as what I needed to be doing on a daily basis to make my dream a reality.
            cite - Nathan Jacobs
        li.face(style="background-image: url(/assets/img/testimonial-avatars/lj.jpg);")
          .bubble
            p Travis talked me through the necessary steps I needed to take to land a Designer/Front End Developer role with a digital agency. We discussed what I needed to have in my portfolio, as well as what I needed to be doing on a daily basis to make my dream a reality.
            cite - Nathan Jacobs
        li.face(style="background-image: url(/assets/img/testimonial-avatars/mary.jpg);")
          .bubble
            p Travis talked me through the necessary steps I needed to take to land a Designer/Front End Developer role with a digital agency. We discussed what I needed to have in my portfolio, as well as what I needed to be doing on a daily basis to make my dream a reality.
            cite - Nathan Jacobs
        li.back-btn.face
        
          
    .col-1
      p.home-lead.outdented ...Mentoring people like you...
      a(href="").home-cta Schedule a Call
